@font-face {
	font-family:'CronosPro-Semibold';
	src:url('../fonts/CronosPro-Semibold.eot');
	src:url('../fonts/CronosPro-Semibold.woff') format('woff'),
		url('../fonts/CronosPro-Semibold.ttf') format('truetype'),
		url('../fonts/CronosPro-Semibold.svg#cronospro-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CronosPro-Disp';
	src:url('../fonts/CronosPro-Disp.eot');
	src:url('../fonts/CronosPro-Disp.woff') format('woff'),
		url('../fonts/CronosPro-Disp.ttf') format('truetype'),
		url('../fonts/CronosPro-Disp.svg#cronospro-disp') format('svg');
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'CronosPro-SemiboldDisp';
	src:url('../fonts/CronosPro-SemiboldDisp.eot');
	src:url('../fonts/CronosPro-SemiboldDisp.woff') format('woff'),
		url('../fonts/CronosPro-SemiboldDisp.ttf') format('truetype'),
		url('../fonts/CronosPro-SemiboldDisp.svg#cronospro-semibolddisp') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'CronosPro-BoldDispIt';
	src:url('../fonts/cronosprobolddispit.eot');
	src:url('../fonts/cronosprobolddispit.woff') format('woff'),
		url('../fonts/cronosprobolddispit.ttf') format('truetype'),
		url('../fonts/cronosprobolddispit.svg#cronosprobolddispit') format('svg');
	font-weight: normal;
	font-style: normal;
} 
body{
	margin:0;
	font:13px "Trebuchet MS",Verdana,sans-serif;
	background:#f6fbf6 url(../img/top_bg.png) no-repeat 50% 0;
}
div{
	overflow:hidden;
}
img{
	border:none;
	display:block;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
input, textarea{
	outline:none;
	margin:0;
	padding:0;
}
textarea {
	font:13px "Trebuchet MS",Verdana,sans-serif;
}
select{
	margin:0;
}
ul, ol{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	outline:none;
	text-decoration:none;
	cursor:pointer;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0;
}
.main{
	width:993px;
	margin:0 auto;
}
/*header*/
.header{
	height:102px;
}
.header img{
	margin:21px 0 0 68px;
}
a.logo{
	float:right;
	background:url(../img/logo.png) no-repeat 0 0;
	width:93px;
	height:16px;
	text-indent:-9999px;
	margin:26px 75px 0 0;
}
.align{
	position:relative;
	left:50%;
	float:left;
	overflow:visible;
}
.center{
	position:relative;
	right:50%;
	z-index:1;
}
.steps ul{
	float:left;
	overflow:hidden;
	margin:0;
}
.steps li{
	float:left;
	font-family:'CronosPro-boldDispIt';
	padding:0 20px 0 0;
	margin:0 10px 0 0;
	line-height:30px;
}
.steps li.green{
	color:#39a536;
	background:url(../img/green_arrow.png) no-repeat 100% 50%;
}
.steps li.black{
	color:#333;
	background:url(../img/black_arrow.png) no-repeat 100% 50%;
}
.steps li.gray{
	color:#999;
	background:url(../img/gray_arrow.png) no-repeat 100% 50%;
}
.steps li.last{
	background:none;
}
.steps li span{
	float:left;
	width:20px;
	color:#fff;
	line-height:30px;
	font-size:15px;
	text-align:center;
	font-family:'CronosPro-Semibold';
	margin:0 5px 0 0;
}
.steps li.green span{
	background:url(../img/green_dot.png) no-repeat 0 50%;
}
.steps li.black span{
	background:url(../img/black_dot.png) no-repeat 0 50%;
}
.steps li.gray span{
	background:url(../img/gray_dot.png) no-repeat 0 50%;
}
.description{
	background:#fff;
	width:740px;
	margin:25px 0 0 132px;
	padding:25px 0;
}
.description strong{
	float:left;
	background:url(../img/info.gif) no-repeat 0 50%;
	padding:0 0 0 15px;
	margin:0 20px 0 50px;
	color:#438642;
	font-family: 'CronosPro-SemiboldDisp';
	font-weight:normal;
	font-size:15px;
}
.description div{
	line-height:20px;
	color:#1b1b1b;
}
div.left{
	float:left;
	width:323px;
}
.btns{
	width:171px;
}
.btn{
	float:right;
	background:url(../img/btn_icon.png) no-repeat 0 0;
	line-height:29px;
	color:#fff;
	font-family: 'CronosPro-SemiboldDisp';
	font-size:15px;
	padding:0 0 0 10px;
	margin:10px 0 0;
}
.btn.default{
	background:url(../img/btn_default.png) no-repeat 0 0;
}
.btn span{
	float:left;
	background:url(../img/btn_icon.png) no-repeat 100% 0;
}
.btn.default span{
	background:url(../img/btn_default.png) no-repeat 100% 0;
	padding:0 10px 0 0;
}
.btn img{
	float:right;
	margin:9px 7px 0 15px;
}
h3{
	font-size:22px;
	font-family:'CronosPro-Semibold';
	font-weight:normal;
	margin:20px 0 0;
}
.cluster{
	float:left;
	color:#333;
	border:1px solid #e8e8e8;
	overflow:visible;
	margin:40px 0 0;
	padding:0 20px 35px;
	line-height:20px;
}
h4{
	font-size:17px;
	font-family:'CronosPro-Semibold';
	font-weight:normal;
	margin:-12px 0 30px -10px;
	overflow:hidden;
}
h4 span{
	float:left;
	background:#f6fbf6;
	padding:0 10px;
}
.divider{
	font-size:0;
	line-height:0;
	height:1px;
	background:#eee;
	margin:35px 0;
}
.form_block{
	width:353px;
}
.form_block_wide{
	overflow:visible;
	width:740px;
	margin-left:132px;
}
.form_block_wide .cluster{
	width:698px;
}


.input_bg{
	float:right;
	background:url(../img/input1.png) no-repeat 0 0;
	width:162px;
	height:29px;
}
.form_block_wide .input_bg{
	float:left;
	background:url(../img/input1.png) no-repeat 0 0;
	width:342px;
}
.form_block_wide .input_error{
	background:url(../img/input1_error.png) no-repeat 0 0;
}
.input_bg input{
	background:none;
	border:0;
	width:152px;
	height:19px;
	padding:5px 5px;
	font-size:15px;
	font-family:'CronosPro-SemiboldDisp';
}
.form_block_wide .input_bg input{
	width:332px;
}


.input_bg_small{
	float:right;
	background:url(../img/input.png) no-repeat 0 0;
	width:152px;
	height:29px;
}
.form_block_wide .input_bg_small{
	float:left;
	background:url(../img/input.png) no-repeat 0 0;
	width:162px;
}
.input_bg_small input{
	background:none;
	border:0;
	width:12px;
	height:19px;
	padding:5px 5px;
	font-size:15px;
	font-family:'CronosPro-SemiboldDisp';
}
.form_block_wide .input_bg_small input{
	width:152px;
}

.form_block label{
	float:right;
	font-family:'CronosPro-SemiboldDisp';
	font-size:15px;
	color:#438642;
	margin:5px 10px 0 0;
}
.form_block_wide label{
	margin:0;
}
.form_block_wide b{
	font-family:'CronosPro-SemiboldDisp';
	font-size:15px;
	color:#000;
	font-weight:normal;
}
.form_block_wide td{
	padding:5px 5px;
}
.ffCheckboxWrapper{
	float:left;
	margin:0 0 0 10px;
}
.ffCheckbox{
	float:right;
	background:url(../img/checkbox.png) no-repeat 0 0;
	width:20px;
	height:19px;
	cursor:pointer;
}
.ffRadioWrapper{
	float:right;
	margin:0 0 0 10px;
}
.form_block_wide .ffRadioWrapper{
	float:left;
}
.form_block_wide .sex .ffRadioWrapper{
	margin:0 20px 0 0;
}
.ffRadioWrapper a{
	color:#000;
	font-family: 'CronosPro-SemiboldDisp';
	font-weight:normal;
	font-size:15px;
}
.ffCheckboxWrapper.on .ffCheckbox{
	background:url(../img/checkbox.png) no-repeat 0 100%;
}
.ffRadio{
	float:right;
	background:url(../img/radio.png) no-repeat 0 0;
	width:15px;
	height:15px;
}
.form_block_wide .ffRadio{
	float:left;
	margin:5px 5px 0 0;
}
.ffRadioWrapper.on .ffRadio{
	background:url(../img/radio.png) no-repeat 0 100%;
}
.ffSelectWrapper,
.ffSelectWrapper div{
	overflow:visible;
}
.ffSelectWrapper{
	float:right;
	background:url(../img/select.png) no-repeat 0 0;
	width:162px;
	font-family:'CronosPro-SemiboldDisp';
	font-size:15px;
}
.form_block_wide .ffSelectWrapper{
	float:left;
	background:url(../img/select2.png) no-repeat 0 0;
	width:342px;
}
.form_block_wide .select_error .ffSelectWrapper{
	background:url(../img/select2_error.png) no-repeat 0 0;
}
.ffSelectButton{
	display:block;
	line-height:29px;
	color:#333;
	padding:0 0 0 10px;
}
.ffSelectMenuWrapper{
	background:#fff;
	border:1px solid #e8e8e8;
	border-top:0;
	width:160px;
}
.form_block_wide .ffSelectMenuWrapper{
	width:340px;
}
.ffSelectMenuWrapper li{
	cursor:pointer;
	padding:0 0 0 9px;
	color:#333;
}
.ffSelectMenuMid{
	max-height:100px;
}
.ffSelectMenuTop,
.ffSelectMenuBottom{
	display:none;
}
.scrollingBarWrapper{
	width:9px;
	height:100px;
	border-left:1px solid #eee;
	right:0;
	background:#f5f5f5;
}
.scrollingHandle{
	width:9px;
	padding-top:2px;
	background:url(../img/scrollingHandleTop.png) no-repeat 50% 0;
}
.scrollingHandleBottom{
	width:9px;
	background:url(../img/scrollingHandleBottom.png) no-repeat 50% 100%;
}
.scrollbar1 { width: 318px; margin: 20px 0 10px; padding:6px 5px 3px 0; border:1px solid #e8e8e8; float:right; background:#fff;}
.scrollbar1 .viewport { width: 290px; height:80px; overflow: hidden; position: relative; padding:0 10px; line-height:20px; }
.scrollbar1 .overview { list-style: none; position: absolute; left: 10px; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background:url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 4px; }
.scrollbar1 .track { background:url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:4px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background:url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 4px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0; }
.scrollbar1 .thumb .end { background:url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 4px; }
.scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.title{
	height:29px;
}
.left_round{
	float:left;
	width:5px;
	height:29px;
	background:url(../img/left_round.png) no-repeat 0 0;
}
.right_round{
	float:right;
	width:5px;
	height:29px;
	background:url(../img/right_round.png) no-repeat 0 0;
}
.title_center{
	background:url(../img/green_title.png) repeat-x 0 0;
	height:29px;
}
.title span{
	float:left;
	line-height:30px;
	color:#fff;
	font-family:'CronosPro-SemiboldDisp';
	font-size:15px;
	padding:0 0 0 5px;
	background:url(../img/divider.gif) no-repeat 0 0;
	border-left:1px solid #357f33;
}
.title span:first-child{
	border:0;
	background:0;
}
.title span.left{
	background:none;
}
.title span a{
	color:#fff;
	background:url(../img/white_arrow.png) no-repeat 100% 50%;
	padding:0 13px 0 0;
}
.table_scroll{
	float:right;
}
.table_scroll .scrollbar1{
	margin:0;
	padding:0 4px 0 0;
}
.table_scroll .viewport{
	width:300px;
	height:151px;
	padding:0 5px;
}
.table_scroll .overview{
	width:312px;
	left:5px;
}
.scrollbar1 .overview table{
	width:100%;
}
.scrollbar1 .overview td{
	height:29px;
	font-family:'CronosPro-SemiboldDisp';
	font-size:15px;
	padding:0 0 0 5px;
	border-top:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
}
.scrollbar1 .overview td:first-child{
	border:0;
}
.blue td{
	background:#ebf5ea;
}
.options{
	float:right;
	position:relative;
	overflow:visible;
	font-family: 'CronosPro-SemiboldDisp';
	font-size:15px;
}
.options .click{
	display:block;
	cursor:default;
	width:99px;
	background:url(../img/select1.png) no-repeat 0 0;
}
.options .click span{
	display:block;
	line-height:29px;
}
.options img{
	float:left;
	margin:8px 5px 0 11px;
}
.options .menu{
	position:absolute;
	top:28px;
	left:0;
	display:none;
	width:97px;
	background:#fff;
	border:1px solid #e8e8e8;
	border-top:0;
	line-height:29px;
}
.options .menu li{
	font-size:13px;
	margin:5px 0 0 0;
}
.options .menu li a{
	display:block;
	background:url(../img/options_menu.png) no-repeat 0 0;
	color:#333;
}
.options .menu li a:hover,
.options .menu li.active a{
	background:#e8e8e8;
}
.options .menu li a span{
	display:block;
	background:url(../img/options_menu.png) no-repeat 100% -44px;
	padding:3px 5px;
	line-height:14px;
}
.options .menu li a:hover span,
.options .menu li.active a span{
	background:url(../img/options_menu.png) no-repeat 100% -66px;
}
.map{
	float:right;
	margin:300px 0 0;
}
.next{
	float:right;
	margin:30px 0 30px 0;
}
.prev{
	float:left;
	margin:30px 0 30px 0;
}
.next .prev a{
	margin:0 10px 0 0;
}
.warning{
	font-family:'CronosPro-boldDispIt';
	font-size:15px;
	color:#c00;
	background:url(../img/warning.png) no-repeat 0 50%;
	padding:0 0 0 15px;
}
.warning_block{
	background:#fbebeb;
	width:740px;
	margin:25px 0 0 132px;
	padding:25px 0;
}
.warning_block strong{
	float:left;
	background:url(../img/warning.png) no-repeat 0 3px;
	padding:0 0 0 16px;
	margin:0 20px 0 50px;
	color:#c00;
	font-family: 'CronosPro-SemiboldDisp';
	font-weight:normal;
	font-size:15px;
	text-align:right;
}
.warning_block div{
	line-height:20px;
	color:#1b1b1b;
}
.warning_block ul{
	overflow:hidden;
	padding:20px 0 0;
}
.warning_block ul a{
	color:#c00;
	text-decoration:underline;
}
.warning_block ul a:hover{
	text-decoration:none;
}
.big_map{
	clear:both;
	padding:30px 0;
}
.form_block_wide .table_scroll{
	float:none;
	
}
.form_block_wide .table_scroll .scrollbar1{
	width:734px;
}
.form_block_wide .table_scroll .viewport{
	width:720px;
	height:151px;
	padding:0 5px;
}
.form_block_wide .table_scroll .overview{
	width:720px;
}
.form_block_wide .table_scroll img{
	float:left;
	margin:4px 5px 0 0;
}
.search td{
	padding:0 1px;
}
.search .input_bg{
	background:url(../img/input2.png) no-repeat 0 0;
	width:258px;
}
.search .input_bg input{
	width:248px;
}
.search a{
	margin:0;
}
.delete{
	float:right;
	margin:0 12px 0 0;
}
.popup_block{
	position:absolute;
	top:100px;
	left:50%;
	width:317px;
	margin:0 0 0 -158px;
	color:#666;
	font-size:15px;
}
.popup_top{
	height:30px;
	background:url(../img/popup_top.png) no-repeat 0 0;
}
.popup_center{
	background:url(../img/popup_center.png) repeat-y 0 0;
}
.popup_bottom{
	height:34px;
	background:url(../img/popup_bottom.png) no-repeat 0 0;
}
.popup_center_in{
	background:url(../img/grad2.gif) repeat-x 0 100%;
	min-height:200px;
	margin:0 19px;
	position:relative;
}
.popup_block strong{
	display:block;
	font-family: 'CronosPro-SemiboldDisp';
	font-size:26px;
	color:#1b1b1b;
	font-weight:normal;
	border-bottom:1px solid #efefef;
	text-indent:20px;
	padding:0 0 30px;
	margin:0 0 3px;
}
.popup_block img{
	margin:0 auto 10px;
}
.popup_block p{
	text-align:center;
}
.popup_block p a{
	font-family: 'CronosPro-SemiboldDisp';
	font-size:12px;
	color:#3aaa37;
}
.popup_block p a:hover{
	text-decoration:underline;
}
.file_name{
	font-family: 'CronosPro-SemiboldDisp';
	font-size:12px;
	position:absolute;
	top:35px;
	left:20px;
	font-size:12px;
}